:root {
--primary-font:'Roboto', sans-serif;
--secondary-font: 'Raleway', sans-serif;
--primary-text-color-teme-light:#2E2F42;
--primary-text-color-teme-dark:#FFFFFF;
--secondary-text-color-teme-light:#434455;
--secondary-text-color-teme-dark:#F4F4FD;
--menu-link-color:#404BBF;
--dark-color-backgraund:#2E2F42;
--secondary-color-bacground:#F4F4FD;
--third-color-background:#FFFFFF;
--accent-color:#4D5AE5;
--footer-social-hover:#31D0AA;
--color-icons:#8E8F99;
--color-modal-btn:#E7E9FC;
--background-color-modal-window:#FCFCFC;
--transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.list {
	list-style: none;
}
.link {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
p{
margin-top: 0;
margin-bottom: 0;
}

ul,
ol{
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}
img{
	display: block;
	max-width: 100%;
	height: auto;
}

button{
	cursor: pointer;
}

body {
	font-family: var(--primary-font);
	color: var(--primary-text-color-teme-light);
	color: var(--secondary-text-color-teme-light);
	background-color: var(--third-color-background);
}

/* ===========COMPONENTS======================== */
.logo{
margin-right: 76px;
font-family: var(--secondary-font);
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--accent-color);



}
.container{
width: 1158px;
margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-right: 15px;

}

/* ================COMPONENTS==================== */

/* ================HEADER======================= */
.page-header-content{
	padding-top: 24px;
	padding-bottom: 24px;
	border-bottom: 1px solid #E7E9FC;
	box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.page-header-conteiner{
	width: 1158px;
	display: flex;
	align-items: center;
}

.page-nav{
	display: flex;
	align-items: center;
}

.address-list{
	display: flex;
	align-items: center;
	gap: 40px;
}

.menu-item-list{
	display:flex;
	align-items: center; 
	gap: 40px;
}

.header-logo{
font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primary-text-color-teme-light);

}
.menu-link{
padding-top: 24px;
padding-bottom: 24px;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;

color: var(--primary-text-color-teme-light);
transition: color var(--transition);
}
.menu-link:hover,
.menu-link:focus,
.menu-link:active {
color: var(--menu-link-color);
}
.current{
position: relative;
color: var(--transition);
}
 
.current::after{
	content: "";
	display: block;
	position: absolute;
	
	width: 100%;
	height: 4px;
	left: 0;
	bottom:-1px;
	color: var(--menu-link-color);
	background-color: var(--menu-link-color);
	border-radius: 2px;
	opacity: 0;
}

.menu-link:hover::after{
	opacity: 1;
	transition: color var(--transition);
}

.address{
font-style: normal;
margin-left: auto;
}

.contacts-information-link{
font-family: var(--primary-font);
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--secondary-text-color-teme-light);
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address :hover,
.address :focus,
.address :active{
	color: var(--menu-link-color);
}

/* =================HEADER======================= */

/* =================HERO======================== */
.hero {
	background-color: var(--dark-color-backgraund);
	padding-top: 188px;
	padding-bottom: 188px;


	margin: auto;
	background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)) ,url(../images/bg/people-office-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	max-width: 1440px;
}

.main-title{
display: block;
width: 496px;
max-width: 496px;
height: 120px;
margin-left: auto;
margin-right: auto;
margin-bottom: 48px;
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: var(--primary-text-color-teme-dark);


}
.hero-button:hover,
.hero-button:focus{
	background-color: var(--menu-link-color);
}
.hero-button {
	display: block;
	padding: 16px 32px;
	margin-left: auto;
	margin-right: auto;
	min-width: 169px;
	height: 56px;
	font-family: var(--primary-font);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: var(--primary-text-color-teme-dark);
	background-color: var(--accent-color);
	border-radius: 4px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border: none;
	
}
.color-btn{
	transition: bacground-color var(--transition);
}
/* ====================ABOUT=================== */
.about-section{
	padding-top: 120px;
	padding-bottom: 120px;

}
.menu-discription-about{
	flex-basis: calc((100%-72)/4);
}
.icon-container-about{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 8px;
	width: 264px;
	height: 112px;
	background-color: var(--secondary-color-bacground);
	border-radius: 4px;
}

.priority-about{
margin-bottom: 8px;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;


color: var(--primary-text-color-teme-light);
}
.detail-about{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;

color: var(--secondary-text-color-teme-light);
}
.list-about{
	display: flex;
	gap: 24px;
	margin-bottom: 8px;
}
/* ===================WORK===================== */
.section-work{
	padding-bottom: 120px;
}
.subtitle-work{
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: var(--primary-text-color-teme-light);
margin-bottom: 72px;
}
.menu-work-list{
	display: flex;
	gap: 24px;
	
}
.galary-work-list{
	flex-basis: calc((100%-48)/3);
}
/* ==================WORK==================== */

/* ================OURTEAM=================== */
.ourteam-section{
	background-color: var(--secondary-color-bacground);
	padding-top: 120px;
	padding-bottom: 120px;
}
.galary-ourteam{
background-color: var(--third-color-background);
flex-basis: calc((100%-72px)/4);
border-radius: 0px 0px 4px 4px;

box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.subtitle-ourteam{
font-family: var(--primary-text-color-teme-light);
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.11;

text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;

color: #2E2F42;
margin-bottom: 72px;
}
.emploer-conteiner{
padding: 32px 0 32px;

}
.emploer{
text-align: center;
margin-bottom: 8px;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;

color: var(--primary-text-color-teme-light);
}
.position-emploer{
margin-bottom: 8px;
text-align: center;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--secondary-text-color-teme-light);
}

.social-container{
	padding: 32px 0 32px;
}
.menu-ourteam{
	display: flex;
	gap: 24px;

}
.social-item-list{
	display: flex;
	justify-content: center;
	gap: 24px;
}
.social-list-link{
	background-color:var(--accent-color);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;

	transition: background-color var(--transition);
}

.social-menu-list :hover,
.social-menu-list :focus {
	background-color: var(--menu-link-color);
}

.social-list-link :hover,
.social-list-link :focus {
	background-color: var(--menu-link-color);
}

.social-list-icon{
	fill: var(--secondary-text-color-teme-dark)
}


/* ==========OURTEAM========================== */

/* =========CUSTOMERS======================== */
.section-customers{
	padding-top: 120px;
	padding-bottom: 120px;
}
.subtitle-customers{
margin-bottom: 72px;

font-family: var(--primary-text-color-teme-dark);
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.1;
text-align: center;
letter-spacing: 0.02em;
color: var(--primary-text-color-teme-light);
}
.customers-item{
	display: flex;
	justify-content: center;
	gap: 24px;
}
.customers-link{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 168px;
	height: 88px;
	border: 1px solid var(--color-icons);
	border-radius: 4px;
	color: var(--color-icons);
	transition: border-color var(--transition), color var(--transition);
}

.customers-menu :hover,
.customers-menu :focus{
	border-color: var(--menu-link-color);
	color: var(--menu-link-color);
}

.customers-menu{
	width: calc((100%-120px)/6);
	height: 88px;
}
.customers-icon{
	fill: currentColor;
	transition: border var(--transition), color var(--transition);
}

/* ================ALLSERVISES================== */

/* ==============MENU--BUTTON=================== */


.galary-button {
padding-top: 12px;
padding-left: 24px;
padding-right: 24px;
padding-bottom: 12px;
font-family: var(--primary-font);
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;

border: 1px solid #E7E9FC;
border-radius: 4px;

color: var(--accent-color);
background-color: var(--secondary-color-bacground);
transition: transform var(--transition);
transition: color 250ms var(--transition);
transition: color var(--transition), background-color var(--transition), border-color var(--transition), box-shadow var(--transition);
}
.galary-menu{
transition: color var(--transition), background-color var(--transition), border-color var(--transition), box-shadow var(--transition);
}
.galary-menu :hover,
.galary-menu :focus {
color: var(--primary-text-color-teme-dark);
background-color: var(--menu-link-color);
border: 1px solid transparent;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-list{
	display: flex;
	justify-content:center ;
	gap: 24px;
	margin-bottom: 72px;
	transition: color var(--transition), background-color var(--transition), border-color var(--transition), box-shadow var(--transition);
}
/* =================MENU---BUTTON============== */
.galary{
	padding-top: 96px;
	padding-bottom: 120px;
}

.hidden-header{
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0000);
	overflow: hidden;
}
.servis-menu-list{
	display: flex;
	justify-content: space-around;

	flex-wrap: wrap;
   row-gap: 48px;
	column-gap: 24px;
}
.servis-group{
	width: calc((100%-48px)/3);
	width: 360px;
}

.servis-group-link{
	display: block;
	transition: box-shadow var(--transition);
}
.servis-link-wrapper{
	position: relative;
	overflow: hidden;

}
.overlay{
font-family:var(--primary-font);
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;

color: var(--secondary-text-color-teme-dark);

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 40px 32px;
	/* padding: 40px 32px 164px; */
	background-color: var(--accent-color);
	overflow: auto;
	transform: translateY(100%);

	transition: transform var(--transition);
}
.servis-group-link:hover .overlay,
.servis-group-link:focus .overlay{
	transform: translateY(0%);
}
.servis-group-discription{
margin-bottom: 8px;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--primary-text-color-teme-light);
}

.servise-direction{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--secondary-text-color-teme-light);
}
.servise-group-conteiner{
	padding: 32px 16px;
	width: 360px;
	border: 1px solid #E7E9FC;
	border-top: none;
	transition: var(--transition);
}

.servis-group:hover,
.servis-group:focus{
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
	}

/* ================ALLSERVISES================= */

/* =================FOOTER===================== */
.all-footer-container{
	display: flex;
	align-items: baseline;
}
.footer-section{
	display: flex;
	flex-direction: column;
	margin-right: 120px;
}

.footer-logo{
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
color: var(--secondary-text-color-teme-dark);
}

.footer-title{
	background-color: var(--dark-color-backgraund);
	padding-top: 100px;
	padding-bottom: 100px;
}

.fotter-discription{
display: block;
width: 264px;
height: 72px;
font-family: var(--primary-font);
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;

color: var(--secondary-text-color-teme-dark);
}
.footer-link{
	margin-bottom: 16px;
	display: inline-block;
}
/* ================SOCIAL-MEDIA============ */
.footer-social-container{
	display: flex;
	flex-direction: column;
}
.social-media{
font-family: var(--primary-text-color-teme-dark);
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--primary-text-color-teme-dark);
margin-bottom: 16px;
}

.footer-item-icon{
	display: flex;
	gap: 16px;


}
.footer-link-icon{
	background-color: var(--accent-color);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	transition: background-color var(--transition);
}

.footer-list-icon :hover,
.footer-list-icon :focus{
	background-color: var(--footer-social-hover);
}

.footer-social-icon{
	fill: var(--secondary-color-bacground);
}

/* ================MODAL-CLOSE================== */
.backdrop{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%; 
	height: 100%;
	background-color:rgba(46, 47, 66, 0.4);
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
	transition: opacity var(--transition), visibility var(--transition);


}
.modal{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 408px;
	min-height: 584px;
	background-color: var(--background-color-modal-window);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	transition: transform var(--transition);
}
.modal-close-icon{
	display: flex;
	justify-content: center;
	align-items: center;
	transition:fill var(--transition);
}
.modal-close-btn{
	position:absolute;
	top:24px;
	right:24px;
	display:flex;
	align-items:center;
	justify-content:center;
	width:24px;
	height:24px;
	padding: 0;
	background-color:transparent;
	background-color: var(--color-modal-btn);
	transition: background-color var(--transition), border var(--transition);
	border:1px solid rgba(0, 0, 0, 0.1);
	border-radius:50%;
}
.modal-close-btn:hover,
.modal-close-btn:focus{
background-color: var(--menu-link-color);
fill: var(--primary-text-color-teme-dark);
border: none;
}
.modal-close-icon:hover,
.modal-close-icon:focus{
fill: var(--primary-text-color-teme-dark);
}
.is-hidden{
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}